$main-font: "Raleway", serif;
$light-text-color: #e3e3e3;
$secondary-font: "Poppins", serif;
$dark-text-color: #39505a;

$container-dark-color: #1c2d34;

$button-color: #5d8294;
$button-hover-color: darken($button-color, 10%);

$input-background-color: #555;
$input-border-color: #777;

$error-color: #ea5a5a;