$main-font: "Raleway", serif;
$main-text-color: #e3e3e3;
$secondary-font: "Roboto", serif;
$secondary-text-color: #536270;

$background-color: #333;

$button-color: #536270;
$button-hover-color: darken($button-color, 10%);

$input-background-color: #555;
$input-border-color: #777;

$error-color: #ff3860;