@mixin center() {
    display: flex;
    justify-content: center;
}

@mixin main-font() {
    font-family: $main-font;
    color: $main-text-color;
    letter-spacing: 7px;
    font-weight: 200;
}
@mixin secondary-font() {
    font-family: $secondary-font;
    color: $secondary-text-color;
    letter-spacing: 2px;
    font-weight: 200;
}

@mixin container-dark() {
    background-color: $container-dark-color;
    padding: 40px;
    border-radius: 5px;
    margin: 90px auto;
    // padding-bottom: 60px;
    gap: 20px;
}

@mixin error-message() {
    color: $error-color;
    font-family: $secondary-font;
    font-weight: 200;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}

@mixin inputs {
    font-family: $secondary-font;
    background-color: $input-background-color;
    border: 1px solid $input-border-color;
    border-radius: 4px;
    color: $main-text-color;
    letter-spacing: 2px;
    padding: 9px;
    outline: none;

    &:focus {
        border-color: lighten($input-border-color, 20%);
      }
}