$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
  
  .invalid-login-message {
    color: red;
  }
  .invalid-login-section {
    border: 1px solid red;
  }

  header {
    section {
      display: flex;
      justify-content: space-between;
    }
    
    .header-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    
    .total-spent {
      margin: 0;
    }
    
  }
  
  main {
    section {
      display: flex;
      flex-direction: column;
      
      article {
        border: 4px solid $primary-color;
        border-radius: 4%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        
        img {
          max-width: 70%;
        }
      }
    }
  }
}

.hidden {
  display: none;
}
