@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
@import "config";
@import "utilities";
@import "buttons";

html,
body {
  @include center();
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: #3c4854;

  .application-container {
    width: 100%;

    img {
      width: 50%;
    }

    .login-title {
      font-size: 120%;
      text-align: center;
    }

    .login-form {
      @include main-font();
      @include center();
      @include container-dark();
      width: 250px;
      flex-direction: column;

      .login-input {
        @include inputs();
      }

      .invalid-login-section {
        @include center;
        height: 17px;

        .invalid-login-message {
          @include error-message();
        }
      }
    }

    header {
      display: flex;
      flex-direction: column;

      h1 {
        @include main-font;
        @include container-dark;
      }

      h2,
      h3 {
        @include secondary-font;
        text-align: center;
      }

      .total-spent {
        margin-bottom: 300px;
      }
    }

    .book-trip-section {
      @include secondary-font;
      @include center();
      flex-direction: column;
      align-items: center;
      
      h2 {
        @include main-font;
      }
    }
    
    .form {
      @include center();
      @include container-dark();
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
      
      .booking-sections {
        // would be nice to get the booking form looking 
        // label {
        //   text-align: center;
      }

      .input {
        @include inputs()
      }
      
    }
  }
}
