@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import "config";
@import "utilities";
@import "buttons";

html,
body {
  @include vertically-center();
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: #3c4854;

  .application-container {
    width: 100%;

    img {
      width: 50%;
    }

    .login-title {
      text-align: center;
    }

    .login-form {
      @include main-font();
      @include vertically-center();
      letter-spacing: 7px;
      width: 250px;
      background-color: $background-color;
      padding: 20px;
      border-radius: 5px;
      margin: 90px auto;
      flex-direction: column;
      gap: 20px;

      label {
        color: $main-text-color;
        margin-bottom: 5px;
      }

      .login-input {
        background-color: $input-background-color;
        border: 1px solid $input-border-color;
        border-radius: 4px;
        color: $main-text-color;
        letter-spacing: 2px;
        padding: 11px;
        outline: none;

        &:focus {
          border-color: lighten($input-border-color, 20%);
        }
      }

      .login-button {
        font-family: $main-font;
        background-color: $button-color;
        border: none;
        border-radius: 4px;
        color: $main-text-color;
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
        letter-spacing: 3px;

        &:hover {
          background-color: $button-hover-color;
        }
      }

      .error-message {
        color: $error-color;
        margin-top: -10px;
      }
    }

    header {
      display: flex;
      flex-direction: column;

      h1 {
        @include main-font;
        margin: 80px 200px 30px;
        text-align: center;
        padding: 30px;
        border: 0.7px solid $main-text-color;
        border-radius: 6px;
      }

      h2,
      h3 {
        @include main-font;
        letter-spacing: 3px;
        text-align: center;
      }

      .total-spent {
        margin-bottom: 300px;
      }
    }

    .book-trip-section {
      @include main-font;
      display: flex;

    }
    .book-trip-form {
      @include vertically-center()
      
    }
  }
}
